* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-app {
  width: 100vw;
  height: 100vh;
}

.container-header {
  display: flex;
  height: 10vh;
  background-color: #17b169;
  border-bottom: 2px solid hwb(0 100% 0%);
}

.title {
  color: rgb(33, 198, 33);
  text-align: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.container-data {
  display: flex;
  height: 70%;
  background: rgba(20, 20, 20, 0.815);
}

.container-chart {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.btn-chart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100%;
  border: 3px solid green;
}

.chart {
  display: flex;
  justify-content: center;
  height: 90%;
  width: 100%;
  padding-bottom: 20px;
  
}

.container-wallet {
  display: flex;
  flex-direction: column;

  width: 30%;
  height: 100%;
  color: white;
  border-left: 2px solid white;
}

.header-wallet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10%;
}

.main-wallet {
  display: flex;
  flex-direction: column;

  height: 90%;
  width: 100%;
  padding-top: 10px;
}

.container-amount {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10%;
  width: 100%;
}

.container-currencies {
  display: flex;
  flex-wrap: wrap;
  height: 75%;
  width: 100%;
  padding-top: 10px;
}

.currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.container-btn-wallet {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15%;
  width: 100%;
  padding-bottom: 8px;
}

.btn-wallet {
  height: 60%;
  width: 40%;
  text-align: center;
  border-radius: 24px;
  font-size: 1.1em;
  background-color: rgba(23, 177, 105, 1);
  color: #ffffff;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  cursor: pointer;
}

.btn-wallet:hover {
  background-color: rgba(23, 177, 105, 0.7);
}

.container-currency-exchange {
  display: flex;
  justify-content: space-evenly;
  height: 30%;
}

.currency-exchange {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100%;
  border: 2px solid white;
  background-color: #17b169;
}

.currency-exchange label {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.currency-exchange div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  height: 50%;
  border-top: 3px solid white;
}

.currency-exchange div input {
  margin: 0 20px;
  height: 40px;
  width: 30%;
  border: none;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  text-align: center;
  margin-left: 50px;
  background-color: white;
  color: black;
}

.currency-exchange div select {
  height: 40px;
  text-align: center;
  margin-right: 50px;
  color: black;
  font-size: 1.5rem;
  border: none;
}

.container-btn-converter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  background: rgba(20, 20, 20, 0.815);
}

.btn-converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}
