* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-app {
  width: 100vw;
  height: 100vh;
}

.container-header {
  display: flex;
  height: 10vh;
  background-color: #17b169;
}

.title {
  color: rgb(33, 198, 33);
  text-align: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.container-data {
  display: flex;
  height: 70%;
  background: rgba(20, 20, 20, 0.815);
}

.chart {
  width: 70%;
  height: 100%;
}

.wallet {
  width: 30%;
  height: 100%;
  border: 3px solid white;
}

.container-currency-exchange {
  display: flex;
  justify-content: space-evenly;
  height: 30%;
  border: 5px solid red;
}

.currency-exchange {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 100%;
  border: 2px solid white;
  background-color: #17b169;
}

.currency-exchange label {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.currency-exchange div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  height: 50%;
  border-top: 3px solid white;
}

.currency-exchange div input {
  margin: 0 20px;
  height: 40px;
  width: 30%;
  border: none;
  font-size: 1.5rem;
  border-bottom: 2px solid #ccc;
  text-align: center;
  margin-left: 50px;
  background-color: white;
  color: black;
}

.currency-exchange div select {
  height: 40px;
  text-align: center;
  margin-right: 50px;
  color: black;
  font-size: 1.5rem;
  border: none;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 10%;
  background: rgba(20, 20, 20, 0.815);
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
}
